In [2]:
import pandas as pd
import numpy as np

# string数据类型的性质

主要注意的是string与object的区别

# 文本数据的拆分与拼接

In [3]:
# 拆分 --  str.split方法
# 分割符与str的位置元素选取
s = pd.Series(['a_b_c', 'c_d_e', np.nan, 'f_g_h'], dtype="string")
s

0    a_b_c
1    c_d_e
2     <NA>
3    f_g_h
dtype: string

In [4]:
# 根据某一个元素分割，默认为空格
s.str.split('_')

0    [a, b, c]
1    [c, d, e]
2         <NA>
3    [f, g, h]
dtype: object

In [5]:
# 对于str方法可以进行元素的选择，如果该单元格元素是列表，那么str[i]表示取出第i个元素，如果是单个元素，则先把元素转为列表在取出
s.str.split('_').str[1]

0       b
1       d
2    <NA>
3       g
dtype: object

In [6]:
# expand参数控制了是否将列拆开，n参数代表最多分割多少次
s.str.split('_', expand=True)

      0     1     2
0     a     b     c
1     c     d     e
2  <NA>  <NA>  <NA>
3     f     g     h

In [7]:
s.str.split('_', n=1)

0    [a, b_c]
1    [c, d_e]
2        <NA>
3    [f, g_h]
dtype: object

In [8]:
s.str.split('_', expand=True, n=1)

      0     1
0     a   b_c
1     c   d_e
2  <NA>  <NA>
3     f   g_h

# 字符串处理


字符串的替换 匹配 提取 等常用字符串处理方法均可用python正则表达式解决

参考：

https://www.runoob.com/python/python-reg-expressions.html

https://docs.python.org/zh-cn/3/library/re.html

https://www.cnblogs.com/misswangxing/p/10736310.html