In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/table.csv')
df.head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

## category的使用

创建方式：Series  DataFrame 内置Categorical 内置函数

分类变量的结构：

## 分类变量的序列

序的建立与排序方法

In [2]:
# as_ordered方法
# 有序
s = pd.Series(["a", "d", "c", "a"]).astype('category').cat.as_ordered()
s

0    a
1    d
2    c
3    a
dtype: category
Categories (3, object): [a < c < d]

In [3]:
# as_unordered退化为无序
s.cat.as_unordered()

0    a
1    d
2    c
3    a
dtype: category
Categories (3, object): [a, c, d]

In [4]:
# set_categories方法中的order

pd.Series(["a", "d", "c",
           "a"]).astype('category').cat.set_categories(['a', 'c', 'd'],
                                                       ordered=True)

0    a
1    d
2    c
3    a
dtype: category
Categories (3, object): [a < c < d]

In [5]:
# reorder_categories
# 这个方法的特点在于，新设置的分类必须与原分类为同一集合
s = pd.Series(["a", "d", "c", "a"]).astype('category')
s.cat.reorder_categories(['a', 'c', 'd'], ordered=True)

0    a
1    d
2    c
3    a
dtype: category
Categories (3, object): [a < c < d]

In [7]:
# sort
s = pd.Series(np.random.choice(['perfect', 'good', 'fair', 'bad', 'awful'],
                               50)).astype('category')
s.cat.set_categories(['perfect', 'good', 'fair', 'bad', 'awful'][::-1],
                     ordered=True).head()

0       fair
1       good
2       fair
3    perfect
4    perfect
dtype: category
Categories (5, object): [awful < bad < fair < good < perfect]

In [8]:
s.sort_values(ascending=False).head()

49    perfect
3     perfect
11    perfect
31    perfect
6     perfect
dtype: category
Categories (5, object): [awful, bad, fair, good, perfect]

In [9]:
df_sort = pd.DataFrame({
    'cat': s.values,
    'value': np.random.randn(50)
}).set_index('cat')
df_sort.head()

            value
cat
fair     0.740555
good     0.896391
fair    -1.148983
perfect  0.548727
perfect  0.309798